
.header--logo{ /* tamanho do logo */
    height: 125px;    
}

.btn {
    color: #fff;
    background-color: #ce2e2e;
    border-color: #ce2e2e;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 2.5;
    border-radius: .25rem;
    position: absolute;
    top: 238px;
    right: 421px;
    width: 236px;
  transform: translateY(-50%);
}

.header--logo img{ /* altura do logo */
    height: 22%;
    position: absolute;
    top: -5%;
    right: 1470px;
    
}


